###  1. 파일데이터 불러오기

In [1]:
import pandas as pd

In [2]:
regionData = pd.read_csv("../Python_ST_EX/dataset/kopo_region_mst.csv")

In [3]:
#앞 다섯개만
regionData.head(5)

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA
2      A02      KOREA
3      A03     GERMAN
4      A04     BRAZIL

### 2. 한글

In [ ]:
#이게안되니까
import pandas as pd

In [1]:
pd.read_csv("../Python_ST_EX/dataset/kopo_region_mst_hangul.csv")

NameError: name 'pd' is not defined

In [77]:
#이렇게 수정 (encoding 이용)
import pandas as pd

In [5]:
kopoHangul=pd.read_csv("../Python_ST_EX/dataset/kopo_region_mst_hangul.csv",encoding="ms949")

In [6]:
kopoHangul.head(5)

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질

### 3. 데이터내보내기

In [9]:
import pandas as pd

In [10]:
custom=pd.read_csv("../Python_ST_EX/dataset/kopo_customerdata.csv")

In [11]:
#줄이길어서 head로 줄임
custom.head(6)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0

### 여기부터 다시

In [1]:
import pandas as pd

In [2]:
customerData=pd.read_csv("../Python_ST_EX/dataset/customerdata.csv")

In [3]:
customerData.head(6)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
5  B16849   3755.263391    2          4.7    2.786665      Sleeping-dog

### 5. 컬럼해더 재정의

In [15]:
customerData2=pd.read_csv("../Python_ST_EX/dataset/customerdata2.csv")

In [16]:
customerData2.head(6)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE            CUSTT0
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog
5  B16849  3755.263391    2          4.7    2.786665      Sleeping-dog

### 연습!!!!!

In [17]:
import pandas as pd

In [18]:
customerData=pd.read_csv("../Python_ST_EX/dataset/customerdata.csv")

In [21]:
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','NUM']
customerData.to_csv("../Python_ST_EX/dataset/customerdata5.csv", index=False)

In [33]:
customerData5 = pd.read_csv("../Python_ST_EX/dataset/customerdata5.csv")

In [34]:
customerData5.head(5)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE               NUM
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog