### 01. 데이터불러오기

In [1]:
import pandas as pd

In [4]:
selloutData = pd.read_csv("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

### 02. 데이터 타입 통합

In [ ]:
#QTY컬럼 -> float, 이외컬럼 -> str으로 변경.

In [5]:
selloutData["QTY"] = selloutData["QTY"].astype(float)
selloutData["REGIONID"] = selloutData["REGIONID"].astype(str)
selloutData["PRODUCT"] = selloutData["PRODUCT"].astype(str)
selloutData["YEARWEEK"] = selloutData["YEARWEEK"].astype(str)

In [6]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

### 03. 원하는 컬럼 조회하기

In [7]:
selloutData[["REGIONID","PRODUCT"]].head(5)

  REGIONID    PRODUCT
0      A60   PRODUCT4
1      A60  PRODUCT59
2      A60  PRODUCT34
3      A60  PRODUCT47
4      A60  PRODUCT56

### 3-1 실습(ppt19)

In [ ]:
# kopo_customerdata 테이블에서 customercode, statename, gender, total_amount 컬럼만 추출하세요

In [8]:
import pandas as pd

In [10]:
customerData = pd.read_csv("../Python_ST_EX/dataset/kopo_customerdata.csv")
customerData.head(5)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [11]:
customerData[["CUSTOMERCODE","STATENAME","GENDER","TOTAL_AMOUNT"]]

        CUSTOMERCODE STATENAME  GENDER  TOTAL_AMOUNT
0            1503989    State2    Male         30300
1            1190338    State2    Male         46500
2            1424715    State2  Female         22700
3            2483305    State2    Male         31400
4            1178802    State2    Male         44900
5             859044    State2    Male         38300
6             734198    State2  Female         19900
7            1443485    State2  Female         14800
8            2340520    State2    Male         24400
9             697949    State2    Male         30400
10            385031    State2    Male         30300
11           1944258    State2  Female         34300
12           2029521    State2  Female         14900
13           1429192    State2    Male         16300
14            892851    State2    Male         25000
15           1554976    State2    Male         27500
16           1154228    State2    Male         18200
17            816582    State2    Male         40200
18            675948    State2  Female         74600
19            965940    State2    Male         42700
20           2636314    State2    Male         14900
21            577344    State2  Female         58700
22            910781    State2    Male         16000
23            541107    State2  Female         17800
24           1860112    State2    Male         26800
25           1016762    State2    Male         14000
26           2029821    State2    Male         31800
27            765206    State2    Male         16000
28           2174694    State2    Male         37600
29           1196869    State2  Female         32800
...              ...       ...     ...           ...
299970       2436525    State1    Male         67100
299971       1238030    State1    Male         70100
299972        923009    State1    Male         17600
299973       1433055    State1    Male         14200
299974       2639022    State1    Male         66600
299975       1076615    State1    Male         35300
299976       1017806    State1    Male         14900
299977       1673649    State1    Male         26900
299978       2304135    State1    Male         26300
299979        726202    State1    Male         26300
299980       2531738    State1    Male         13200
299981        732024    State1    Male         13600
299982       1829484    State1  Female         28500
299983        923895    State1    Male         15600
299984       2544242    State1    Male         18600
299985       1006611    State1    Male         16500
299986       1795625    State1    Male         18400
299987        731422    State1    Male         14800
299988        463974    State1    Male         20400
299989       1274816    State1    Male         15900
299990       2034458    State1    Male         24300
299991       1349673    State1    Male         21200
299992       1098613    State1    Male         14000
299993        721218    State1    Male         31400
299994        598593    State1    Male         29000
299995        465757    State1    Male         40600
299996       1890264    State1    Male         48000
299997       1857537    State1  Female         32300
299998       2209324    State1    Male         48500
299999       1875146    State1    Male         16500

[300000 rows x 4 columns]

### 04. 인덱스로 조회하기(iloc,loc)

In [12]:
#customerData 의 전체 컬럼을 조회
customerData.columns

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [13]:
#ilocation, <- 앞은 행 뒤는 열 :만 쓰면 전체 나옴
customerData.iloc[0:2,0:4]

   CUSTOMERCODE STATENAME  ST GENDER
0       1503989    State2   2   Male
1       1190338    State2   2   Male

In [14]:
#특정컬럼 인덱스 조회
customerData.columns.get_loc("STATENAME")

1

### 4-1 실습(ppt21)

In [ ]:
# kopo_customerdata 테이블에서 0~5번째 행의 statename, gender를 선택하세요 (인덱스 활용)

In [15]:
import pandas as pd

In [16]:
customerData = pd.read_csv("../Python_ST_EX/dataset/kopo_customerdata.csv")
customerData.head(5)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [17]:
genderColNo = customerData.columns.get_loc("GENDER")
stateColNo = customerData.columns.get_loc("STATENAME")

In [18]:
#방법1
customerData.iloc[0:5,[genderColNo,stateColNo]]

   GENDER STATENAME
0    Male    State2
1    Male    State2
2  Female    State2
3    Male    State2
4    Male    State2

In [19]:
#방법2
#0부터4행까지 1열과 3열을 조회하겠다
customerData.iloc[0:5,[1,3]]

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

#### 연습

In [21]:
customerData = pd.read_csv("../Python_ST_EX/dataset/kopo_customerdata.csv")
customerData.head(5)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [22]:
customerNum = customerData.columns

In [23]:
cusNo = customerNum.get_loc("CUSTOMERCODE")
stColNo = customerNum.get_loc("ST")

In [24]:
#숫자있으면 하드코딩 숫자로 써도 나오긴 함. 
customerData.iloc[0:5,[cusNo,stColNo]]

   CUSTOMERCODE  ST
0       1503989   2
1       1190338   2
2       1424715   2
3       2483305   2
4       1178802   2

##### iloc 은 다 인덱스 번호를 써야하지만 그냥 loc은 행은 인덱스, 열 이름을 써도 가능

### 05. 데이터 정제하기

In [25]:
import pandas as pd

In [27]:
customerData = pd.read_csv("../Python_ST_EX/dataset/customerdata.csv")
customerData.head(10)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
5  B16849   3755.263391    2          4.7    2.786665      Sleeping-dog
6  B18816   3213.911446    2          6.4    0.900000        Early-bird
7  C10639   3516.500000    2          5.2    2.564830  Big-Screen-lover
8  C12717   3732.900000    2          5.7    2.069995  Big-Screen-lover
9  C15050   4020.173425    2          4.9    3.013440      Sleeping-dog

In [28]:
import numpy as np

##### "PRODUCTAGE_NEW"라는 새로운 컬럼을 만들거다. 만약 customerData에서 ["PRODUCTAGE"]가 1보다 작으면1,2보다작으면2, 3보다작으면3, 아니면 5를 넣어라.(실습 ppt26)

In [29]:
customerData["PRODUCTAGE_NEW"]=np.where(customerData["PRODUCTAGE"]<1,1,\
                                        np.where(customerData["PRODUCTAGE"]<2,2,\
                                        np.where(customerData["PRODUCTAGE"]<3,3,5)))
customerData.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

In [30]:
#컬럼 내용이 0인 새로운 컬럼 생성
seasonData["NEW_COLUMN"] = 0

NameError: name 'seasonData' is not defined

In [31]:
#빈문자열 컬럼생성
seasonData["NEW_COLUMN"] = ""

NameError: name 'seasonData' is not defined

### 06.실습_불량데이터 처리 (ppt28)

In [ ]:
# kopo_channel_seasonality_new.csv 자료에서 QTY 마이너스 값을 0으로 변경한 자료를 QTY_NEW 컬럼에 생성하세요

In [32]:
import pandas as pd

In [34]:
seasonData = pd.read_csv("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")
seasonData.head(5)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [35]:
import numpy as np

In [36]:
#QTY값이 0보다 작으면 0 아니면 QTY값을 넣을 거다. 
seasonData["QTY_NEW"]= np.where(seasonData["QTY"]<0,0,seasonData["QTY"])
seasonData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

In [37]:
#selloutData에서 0보다 작은 수를 조회해서 내가 원하는대로 들어갔는지 확인한다.
seasonData[seasonData["QTY"]<0]

       REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW
65          A02  PRODUCT16    201403   -1.0      0.0
338         A08  PRODUCT36    201402   -1.0      0.0
1270        A14  PRODUCT36    201405   -1.0      0.0
1616        A17  PRODUCT60    201402   -1.0      0.0
2035        A39   PRODUCT7    201404  -12.0      0.0
2378        A39   PRODUCT7    201402   -1.0      0.0
2880        A39   PRODUCT7    201405   -5.0      0.0
2997        A18  PRODUCT36    201403   -1.0      0.0
4483        A13  PRODUCT15    201406   -2.0      0.0
4865        A23   PRODUCT1    201405   -1.0      0.0
4971        A13  PRODUCT15    201408   -1.0      0.0
5274        A13  PRODUCT15    201410   -1.0      0.0
5362        A13  PRODUCT15    201407   -1.0      0.0
5628        A16  PRODUCT68    201407   -1.0      0.0
5801        A01  PRODUCT60    201409   -2.0      0.0
5940        A11  PRODUCT56    201407   -1.0      0.0
6048        A60  PRODUCT47    201407   -1.0      0.0
6224        A45  PRODUCT47    201407   -1.0      0.0
6479        A14  PRODUCT36    201409   -1.0      0.0
6597        A56  PRODUCT14    201409   -1.0      0.0
7277        A60   PRODUCT1    201408   -1.0      0.0
7553        A13  PRODUCT15    201411   -1.0      0.0
7956        A51  PRODUCT47    201411   -1.0      0.0
8961        A13  PRODUCT15    201413   -1.0      0.0
9357        A05  PRODUCT17    201413   -1.0      0.0
10444       A60  PRODUCT47    201414   -1.0      0.0
11772       A01   PRODUCT6    201416   -1.0      0.0
11786       A01  PRODUCT60    201416   -1.0      0.0
11852       A16  PRODUCT68    201416   -1.0      0.0
11903       A10  PRODUCT61    201415   -1.0      0.0
...         ...        ...       ...    ...      ...
116838      A01   PRODUCT6    201611 -364.0      0.0
116852      A01  PRODUCT60    201611   -1.0      0.0
117303      A02  PRODUCT60    201614   -1.0      0.0
117319      A48  PRODUCT61    201616   -1.0      0.0
117854      A32  PRODUCT14    201616   -2.0      0.0
118367      A39  PRODUCT66    201640   -1.0      0.0
118368      A39  PRODUCT37    201640   -1.0      0.0
118369      A39  PRODUCT50    201640   -1.0      0.0
118815      A08  PRODUCT15    201613   -1.0      0.0
118884      A62  PRODUCT56    201615  -13.0      0.0
119360      A02  PRODUCT60    201637   -1.0      0.0
119696      A18  PRODUCT15    201639   -2.0      0.0
120075      A14  PRODUCT40    201544   -1.0      0.0
120132      A17  PRODUCT60    201544   -1.0      0.0
120836      A13   PRODUCT5    201602   -1.0      0.0
120995      A03   PRODUCT6    201643  -24.0      0.0
121775      A59  PRODUCT47    201633   -1.0      0.0
122190      A02  PRODUCT60    201633   -1.0      0.0
122233      A16  PRODUCT68    201635   -1.0      0.0
122285      A09  PRODUCT61    201635   -1.0      0.0
122504      A02  PRODUCT60    201632   -1.0      0.0
123294      A13   PRODUCT5    201631   -2.0      0.0
123632      A32  PRODUCT14    201629   -2.0      0.0
123639      A13   PRODUCT5    201628   -2.0      0.0
123665      A39  PRODUCT76    201628  -13.0      0.0
123677      A39  PRODUCT25    201628   -1.0      0.0
123957      A39  PRODUCT50    201627   -1.0      0.0
123970      A39  PRODUCT25    201627   -1.0      0.0
124148      A13   PRODUCT5    201648   -6.0      0.0
124532      A32  PRODUCT14    201627   -2.0      0.0

[323 rows x 5 columns]

In [38]:
#selloutData의 길이 구함
len(selloutData)

124658

### 확인

In [39]:
seasonData["QTY_NEW"]= np.where(\
                                seasonData["QTY_NEW"]<0,0,\
                                np.where(seasonData["QTY"] < 10000,10000,seasonData["QTY"])
seasonData

SyntaxError: invalid syntax (<ipython-input-39-dbafef872850>, line 2)

### 07. 프로젝트실습_불량데이터 처리(53주차 제거 및 YEAR,WEEK컬럼 생성)

In [ ]:
#kopo_channel_seasonality_new.csv 자료에서 YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인 
#데이터만 조회한 후 refinedSelloutData 변수에 담으세요

In [40]:
import pandas as pd

In [43]:
seasonData = pd.read_csv("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")
seasonData.head(5)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [44]:
#여기서 YEARWEEK가 int형이라 나눌 수가 없으니까 str형으로 바꿔주어야함
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [54]:
#YEAR컬럼을 생성해서 YEARWEEK를 str로 바꿔 앞4개만 담는다. 
selloutData["YEAR"] = selloutData.YEARWEEK.astype(str).str[0:4]
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  YEAR WEEK
0      A60  PRODUCT4   201402  71.0  2014   02

In [78]:
selloutData["YEARWEEK"][1][0:4]

'2014'

In [65]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  YEAR WEEK
0      A60  PRODUCT4   201402  71.0  2014  NaN

In [67]:
selloutData["YEAR"] = selloutData.YEARWEEK.astype(str)
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY    YEAR WEEK
0      A60  PRODUCT4   201402  71.0  201402  NaN

In [ ]:
selloutData

In [55]:
selloutData["WEEK"] = selloutData.YEARWEEK.astype(str).str[4:]
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  YEAR WEEK
0      A60  PRODUCT4   201402  71.0  2014   02

In [61]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:]
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  YEAR WEEK
0      A60  PRODUCT4   201402  71.0  2014   02

In [62]:
selloutData["WEEK"] = selloutData.YEARWEEK.astype(str)[4:]
selloutData.head(1)

  REGIONID   PRODUCT YEARWEEK   QTY  YEAR WEEK
0      A60  PRODUCT4   201402  71.0  2014  NaN

In [79]:
B = [None]*4
B

[None, None, None, None]

In [81]:
A = ["", "" , " ", "12", "ㅇㅍ리"]

In [82]:
for i in range(0, len(B)):
    for j in range(0, len(A)):
        if(A[j] != ""):
            B[i] = A[j]

In [83]:
A

['', '', ' ', '12', 'ㅇㅍ리']

In [ ]:
#컬럼 제대로 만들어졌는지 확인
selloutData["WEEK"].astype(int).min()

In [ ]:
#숫자 비교 위해 다시 int형으로 바꿔줘야함.
refinedSelloutData = selloutData[selloutData.WEEK.astype(int)<= 52]
refinedSelloutData.head(5)

In [ ]:
##53주차부터 다 제거했으니까 제일 큰수가 52인지 확인
refinedSelloutData["WEEK"].max()

In [ ]:
refinedSelloutData.dtypes

In [ ]:
## 조회하고 값을 뜯고 뺏고 붙이고 하는것을 잘 익혀야함

### 데이터 이상 정제 (함수) ---- 확인

In [ ]:
## np.where 함수로도 가능. np.where가 가속성이 더 좋음.
#컬럼 추가 생성 및 조건에 따른 컬럼명 변경 axis=1이면 옆으로 붙고 0이면 아래로 붙음
def refining(df):
    if df['productage'] < 1:
        return 1
    elif df['productage'] < 2:
        return 2
    else:
        return 5
customerData["productage_new2"] = customerData.apply(refining,axis=0)
# axis =0 -> 행과 열의 길이가 달라서 0일 경우 x축으로 붙지못함. 에러 . 1의 경우 y축으로 붙는다.

In [ ]:
customerData.apply(refining,axis=1)

In [ ]:
len(customerData.apply(refining,axis=1))

In [ ]:
customerData["sss"] = customerData.apply(refining,axis=1) #새로운 컬럼에 추가

### 08 .데이터 정렬 및 집계

In [ ]:
refinedSelloutData.head(2)

In [ ]:
#REGIONID을 기준으로 정렬 하겠다. 
sortKey = ["REGIONID"]

In [ ]:
sortedData = refinedSelloutData.sort_values(sortKey)
sortedData.head()

In [ ]:
refinedSelloutData.head(2)

### 여기 확인해 되는지 안되는지

In [ ]:
#inplace- true 면 sort한 값을 바로 가져가게된다. 자동저장. 기본값은 false다. 
#기본이 false이기대문에 다시 찍었을 때는 정렬이 풀림
#ascending - true 면 오츰차순, false면 내림차순 정렬. 
customerData.sort_values(["CUSTID","AVGPRICE"], ascending=[True,False], inplace=True)

In [ ]:
### 기존 인덱스를 drop 하고 새로 인덱스를 생성
sortedData = sortedData.reset_index(drop=True)

In [ ]:
sortedData.head(10)

In [ ]:
sortKey = ["REGIONID","YEAR","YEARWEEK"]

In [ ]:
sortedData = refinedSelloutData.sort_values(sortKey)
sortedData.head()

### 09. 데이터 집계(group by)

In [ ]:
groupKey = ['REGIONID','PRODUCT','YEAR']

In [ ]:
groupData = sortedData.groupby(groupKey).mean()[["QTY"]]

In [ ]:
groupData.head()

In [ ]:
#groupby 항상 reset해주어야함. 
groupData = groupData.reset_index()

In [ ]:
groupData.head()

In [ ]:
#컬럼 변경
groupData.columns = ["REGIONID","PRODUCT","YEAR","QTY_MEAN"]

In [ ]:
groupData.head(5)

In [ ]:
groupkey=["YEAR"]

### 확인

In [ ]:
groupData = groupData.groupby(groupkey).max() 
groupData

In [ ]:
#평균구하기  as_index-> 그룹을 인덱스로 지정할 것지 
meanValue = sortedData.\
groupby(['YEAR','WEEK'], as_index=True).\
mean()
meanValue

In [ ]:
sortedData = sortedData.reset_index()
sortedData.head(5)

In [ ]:
##평균 표준편차 구하려면 int형이여야 하잖아 왜 str로 출력돼?
groupkey = ["YEAR"]
groupkey

In [ ]:
# 평균 및 표준편차 구하기
groupData = sortedData.\
groupby(groupkey).agg\
(['mean','std'])['QTY']

In [ ]:
groupData.head()

In [ ]:
groupData = groupData.reset_index()
groupData

### 10. 프로젝트실습 (ppt37)

In [ ]:
# 지역, 상품, 연주차 단위로 정렬하여 sortedData 변수에 담으세요

In [ ]:
refinedSelloutData.head(5)

In [ ]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]
sortedData = refinedSelloutData.sort_values(sortKey)
sortedData.head()

### 11. 프로젝트실습(ppt38)

In [ ]:
#[지역, 상품, 연도 별 집계] sortedData 에서 지역, 상품 단위 판매량(QTY_NEW) 의 평균 및 표준편차 연산 후
#groupData 변수에 담으세요. 이후 컬럼명을 QTY_MEAN, QTY_STD로 변경하세요

In [ ]:
seasonData.head()

In [ ]:
groupkey = ["REGIONID","PRODUCT"]
groupkey

### 데이터요약분석

In [ ]:
#데이터요약분석하기 
groupData = seasonData.\
groupby(groupkey).agg\
(['mean','std'])['QTY_NEW']

In [ ]:
groupData

In [ ]:
groupData = groupData.reset_index()
groupData.head(10)

In [ ]:
groupData.columns = ["index","REGIONID","PRODUCT","QTY_MEAN","QTY_STD"]
groupData.head()

In [ ]:
# 이동평균 구간 정의
customerData.head()
order = 5
import math
suborder = math.floor(order/2)
suborder

# 연산
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center = False).mean()
customerData.head(10)

### 데이터합치기 프로젝트 실습(PPT 48 )

In [ ]:
import pandas as pd

In [ ]:
regionMasterData = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/kopo_region_mst.csv")
regionMasterData.head(5)

In [ ]:
selectExample = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")
selectExample.head(5)

In [ ]:
refinedSelloutData.head(5)

In [ ]:
groupData.head(5)

In [ ]:
mergeResult = pd.merge(refinedSelloutData, groupData,\
                       left_on=("REGIONID","PRODUCT"),right_on = ("REGIONID","PRODUCT"))\
                       [["REGIONID","PRODUCT","YEARWEEK","QTY","YEAR","WEEK","QTY_STD"]]

In [ ]:
mergeResult.head()