In [ ]:
#EMI로 정렬해서 가장 큰값들을 구함.

In [1]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../Python_ST_EX/dataset/customerdata.csv")
customerData.head(10)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
5  B16849   3755.263391    2          4.7    2.786665      Sleeping-dog
6  B18816   3213.911446    2          6.4    0.900000        Early-bird
7  C10639   3516.500000    2          5.2    2.564830  Big-Screen-lover
8  C12717   3732.900000    2          5.7    2.069995  Big-Screen-lover
9  C15050   4020.173425    2          4.9    3.013440      Sleeping-dog

In [4]:
groupkey = ["EMI"]

In [16]:
groupData = customerData.groupby(groupkey).max()[["AVERAGEPRICE","CUSTID","DEVICECOUNT","PRODUCTAGE","CUSTTYPE"]]
groupData.head()

     AVERAGEPRICE  CUSTID  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
EMI
1     3419.462596  Y12458          6.3    2.994395  Sleeping-dog
2     4166.533130  Z19835          6.9    3.483573  Sleeping-dog
3     4296.873743  Z13534          6.9    2.055707    Early-bird