### group by

In [97]:
groupData = groupData.reset_index()
groupData

           CUSTTYPE  CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE
0  Big-Screen-lover  Z16735   4273.900000    3          6.9    3.367229
1        Early-bird  Z19835   4296.873743    3          6.9    1.300000
2      Sleeping-dog  Y12458   4166.533130    2          5.1    3.483573

In [111]:
##평균 표준편차 구하려면 int형이여야 하잖아 
groupkey = ["EMI"]
groupkey

['EMI']

In [113]:
# 평균mean 및 표준편차std 구하기
groupData = customerData.\
groupby(groupkey).agg\
(['mean','std'])['PRODUCTAGE']

In [114]:
groupData.head()

         mean       std
EMI
1    2.191810  0.551576
2    2.040539  0.802460
3    1.100819  0.348977

In [117]:
groupData = groupData.reset_index()
groupData

   EMI      mean       std
0    1  2.191810  0.551576
1    2  2.040539  0.802460
2    3  1.100819  0.348977

### quiz 2 풀어야돼

In [ ]:
#이동평균구간정의 연산.

In [121]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [132]:
#window기준
#math.floor(x) -> n<=를 만족하는 가장 큰정수 n을 반환(내림)
order = 5
import math
suborder = math.floor(order/2)
suborder

2

In [133]:
customerData["TEST"] = customerData["DEVICECOUNT"].rolling(window = 5, center = False).mean()
customerData.head(10)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  TEST
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover   NaN
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog   NaN
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog   NaN
3  A16605   3713.211107    2          6.6    0.900000        Early-bird   NaN
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog  5.24
5  B16849   3755.263391    2          4.7    2.786665      Sleeping-dog  4.90
6  B18816   3213.911446    2          6.4    0.900000        Early-bird  5.38
7  C10639   3516.500000    2          5.2    2.564830  Big-Screen-lover  5.42
8  C12717   3732.900000    2          5.7    2.069995  Big-Screen-lover  5.24
9  C15050   4020.173425    2          4.9    3.013440      Sleeping-dog  5.38