In [1]:
import pandas as pd
import numpy as np

### 01. DataLoad

In [4]:
selloutData = pd.read_csv("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [5]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [7]:
#음수는 반품으로 처리된다. 즉 판매되지 않은 것. #0보다 작으면 0이고 아닐때는 유지해줌.
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0,0,selloutData["QTY"])

In [8]:
#바뀌었는지 확인 
selloutData[selloutData.QTY < 0]

       REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY
65          A02  PRODUCT16    201403   -1.0      0.0
338         A08  PRODUCT36    201402   -1.0      0.0
1270        A14  PRODUCT36    201405   -1.0      0.0
1616        A17  PRODUCT60    201402   -1.0      0.0
2035        A39   PRODUCT7    201404  -12.0      0.0
2378        A39   PRODUCT7    201402   -1.0      0.0
2880        A39   PRODUCT7    201405   -5.0      0.0
2997        A18  PRODUCT36    201403   -1.0      0.0
4483        A13  PRODUCT15    201406   -2.0      0.0
4865        A23   PRODUCT1    201405   -1.0      0.0
4971        A13  PRODUCT15    201408   -1.0      0.0
5274        A13  PRODUCT15    201410   -1.0      0.0
5362        A13  PRODUCT15    201407   -1.0      0.0
5628        A16  PRODUCT68    201407   -1.0      0.0
5801        A01  PRODUCT60    201409   -2.0      0.0
5940        A11  PRODUCT56    201407   -1.0      0.0
6048        A60  PRODUCT47    201407   -1.0      0.0
6224        A45  PRODUCT47    201407   -1.0      0.0
6479        A14  PRODUCT36    201409   -1.0      0.0
6597        A56  PRODUCT14    201409   -1.0      0.0
7277        A60   PRODUCT1    201408   -1.0      0.0
7553        A13  PRODUCT15    201411   -1.0      0.0
7956        A51  PRODUCT47    201411   -1.0      0.0
8961        A13  PRODUCT15    201413   -1.0      0.0
9357        A05  PRODUCT17    201413   -1.0      0.0
10444       A60  PRODUCT47    201414   -1.0      0.0
11772       A01   PRODUCT6    201416   -1.0      0.0
11786       A01  PRODUCT60    201416   -1.0      0.0
11852       A16  PRODUCT68    201416   -1.0      0.0
11903       A10  PRODUCT61    201415   -1.0      0.0
...         ...        ...       ...    ...      ...
116838      A01   PRODUCT6    201611 -364.0      0.0
116852      A01  PRODUCT60    201611   -1.0      0.0
117303      A02  PRODUCT60    201614   -1.0      0.0
117319      A48  PRODUCT61    201616   -1.0      0.0
117854      A32  PRODUCT14    201616   -2.0      0.0
118367      A39  PRODUCT66    201640   -1.0      0.0
118368      A39  PRODUCT37    201640   -1.0      0.0
118369      A39  PRODUCT50    201640   -1.0      0.0
118815      A08  PRODUCT15    201613   -1.0      0.0
118884      A62  PRODUCT56    201615  -13.0      0.0
119360      A02  PRODUCT60    201637   -1.0      0.0
119696      A18  PRODUCT15    201639   -2.0      0.0
120075      A14  PRODUCT40    201544   -1.0      0.0
120132      A17  PRODUCT60    201544   -1.0      0.0
120836      A13   PRODUCT5    201602   -1.0      0.0
120995      A03   PRODUCT6    201643  -24.0      0.0
121775      A59  PRODUCT47    201633   -1.0      0.0
122190      A02  PRODUCT60    201633   -1.0      0.0
122233      A16  PRODUCT68    201635   -1.0      0.0
122285      A09  PRODUCT61    201635   -1.0      0.0
122504      A02  PRODUCT60    201632   -1.0      0.0
123294      A13   PRODUCT5    201631   -2.0      0.0
123632      A32  PRODUCT14    201629   -2.0      0.0
123639      A13   PRODUCT5    201628   -2.0      0.0
123665      A39  PRODUCT76    201628  -13.0      0.0
123677      A39  PRODUCT25    201628   -1.0      0.0
123957      A39  PRODUCT50    201627   -1.0      0.0
123970      A39  PRODUCT25    201627   -1.0      0.0
124148      A13   PRODUCT5    201648   -6.0      0.0
124532      A32  PRODUCT14    201627   -2.0      0.0

[323 rows x 5 columns]

#### 53주차 제거.

In [9]:
#원래 함수타입 통합 해주는데, 연산을 많이 할 것 같으면 통합 안해줘도 된다. 
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

In [10]:
#week를 연산에 많이 쓸 땐 굳이 스트링으로 안바꾸고 써도된다. 
#week의 값에서 즉 201901이라고 했을 때 100으로 나누면 2019.01이니까 그것만 추출.
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

#### 함수화시켜준다.

In [11]:
def customFunction(inputColumn):
    ##inputColumn = 201601
    yearValue = inputColumn/100
    yearValue = int(yearValue)
    return yearValue

In [12]:
#(함수이름) 방법1. apply빼면 일반적인 연산처럼 할 수 있다. 
selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunction) #apply가 없을 때 그냥 연산하듯 사용

In [13]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY  NEW_QTY  WEEK  YEAR
0      A60  PRODUCT4    201402  71.0     71.0     2  2014

In [14]:
#int로 캐스팅하겠다. 방법2 astype은 데이터프레임 함수.
#selloutData["TEST"]= (selloutData["YEARWEEK"]/100).astype(int)

In [15]:
#라운드 함수로 쓰고싶은데 꼭 소수점이 나오니까 이런걸 함수로 만들면 된다. 방법3
#round(2016.1)

In [16]:
#인트로 나머지를 다 없애준다 (앞 YEAR부분만 추출)
int(201623/100)
#나머지만 추출한다 (WEEK부분만)
201623%100

23

In [17]:
#53주차보다 작은것만 담아준다. 
refinedData = selloutData[selloutData.WEEK < 53]

In [18]:
#refinedData = selloutData[selloutData.WEEK % 100 <= 53]

In [19]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  WEEK  YEAR
0      A60   PRODUCT4    201402     71.0     71.0     2  2014
1      A60  PRODUCT59    201402  22275.0  22275.0     2  2014
2      A60  PRODUCT34    201402   4463.0   4463.0     2  2014
3      A60  PRODUCT47    201402      0.0      0.0     2  2014
4      A60  PRODUCT56    201402     23.0     23.0     2  2014

### 데이터정렬 (인덱스확인)

In [20]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [21]:
sortedData = refinedData.sort_values(sortKey)

In [22]:
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
298       A00  PRODUCT34    201401  661.0    661.0     1  2014
1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
205       A00  PRODUCT34    201404  532.0    532.0     4  2014
4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [23]:
step1Data = sortedData.reset_index(drop = True) ## 기존에 있는 인덱스를 다 버리고 다시 정렬하겠다.
step2Data = sortedData.reset_index(drop = False)  ## 다시 정렬할 건데 전에 쓰던 인덱스도 필요하다.

In [24]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0      A00  PRODUCT34    201401  661.0    661.0     1  2014
1      A00  PRODUCT34    201402  679.0    679.0     2  2014
2      A00  PRODUCT34    201403  578.0    578.0     3  2014
3      A00  PRODUCT34    201404  532.0    532.0     4  2014
4      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [25]:
#앞index차이
step2Data.head()

   index REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0    298      A00  PRODUCT34    201401  661.0    661.0     1  2014
1   1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
2   3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
3    205      A00  PRODUCT34    201404  532.0    532.0     4  2014
4   4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

### 1. 기본 이동평균 함수 (rolling함수)- 롤링함수를 쓰기전에 정렬 꼭 해야함

In [26]:
#window = 15 : 15개씩 이동평균을 내겠다. / min_periods= 1 : 데이터가 하나라도 존재하면 평균을 내겠다.

In [27]:
## center = True => 나를 중심으로 날개를 펴는거고 
## center = False => 내가 맨 마지막으로 가는 것 (default값)

In [28]:
#center를 false로 하면 내위로 14개가 생기기 전까지는 nan값이 나온다.

In [29]:
#min_periods= 1 를 안써주면 내 위에 7개가 nan이기 때문에 총 14개의 nan 값이 생긴다 .
step1Data["MA"] = step1Data.NEW_QTY.rolling(window = 15, center = True).mean()
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR  MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014 NaN
1      A00  PRODUCT34    201402  679.0    679.0     2  2014 NaN
2      A00  PRODUCT34    201403  578.0    578.0     3  2014 NaN
3      A00  PRODUCT34    201404  532.0    532.0     4  2014 NaN
4      A00  PRODUCT34    201405  516.0    516.0     5  2014 NaN

In [30]:
step1Data["MA"] = step1Data.NEW_QTY.rolling(window = 15, center = True, min_periods= 1).mean()

In [31]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR          MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014  520.000000
1      A00  PRODUCT34    201402  679.0    679.0     2  2014  514.444444
2      A00  PRODUCT34    201403  578.0    578.0     3  2014  516.800000
3      A00  PRODUCT34    201404  532.0    532.0     4  2014  503.363636
4      A00  PRODUCT34    201405  516.0    516.0     5  2014  490.750000

#### 저장하기

In [ ]:
step1Data.to_csv("./result2.csv") #내현재경로에 result라는 이름으로 저장 index(false)하면

#### 그룹화하기 - 지역, 상품, 연도별로 groupby로 정렬해서 "NEW_QTY" 이동평균을 구한다.

In [32]:
#1. 필터
#filteredData = [(step1Data.REGIONID == "A00") & (step1Data.PRODUCT == "PRODUCT34")]

In [33]:
#2. 그룹키설정
groupKey = ["REGIONID","PRODUCT","YEAR"]

In [34]:
#3. A00의 프로덕트 14년도에는 평균적으로 X 물량이 나온다. 
groupData = step1Data.groupby(groupKey)[["NEW_QTY"]].mean()

In [35]:
groupData.head()

                            NEW_QTY
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014  275.961538
                   2015   86.634615
                   2016   36.576923
         PRODUCT58 2014    2.673077
                   2015    5.711538

In [36]:
#조인, 수정 할려면 그룹핑풀어야되니까 리셋인덱스.

In [37]:
groupDataResult=groupData.reset_index()

In [38]:
#컬럼헤더 재정의
groupDataResult.columns = ["REGIONID","PRODUCT","YEAR","GROUP"]

In [39]:
groupDataResult.head()

  REGIONID    PRODUCT  YEAR       GROUP
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

### 데이터합치기(속성)(merge)

In [ ]:
#regionid, product,yearweek를 그룹데이터 옆에 붙히기 how 확인하기 !!

In [40]:
#[[]] 부분에서 내가 원하는 컬럼순서대로 바꿀 수 있다. 아예 안써도 문제 없음. 
mergeResult = pd.merge(groupDataResult,step1Data,\
                      left_on = ("REGIONID","PRODUCT","YEAR"),right_on = ("REGIONID","PRODUCT","YEAR"))\
[["REGIONID", "PRODUCT","YEARWEEK","QTY","NEW_QTY","YEAR", "GROUP","WEEK","MA"]]
mergeResult.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,GROUP,WEEK,MA
0,A00,PRODUCT34,201401,661.0,661.0,2014,275.961538,1,520.000000
1,A00,PRODUCT34,201402,679.0,679.0,2014,275.961538,2,514.444444
2,A00,PRODUCT34,201403,578.0,578.0,2014,275.961538,3,516.800000
3,A00,PRODUCT34,201404,532.0,532.0,2014,275.961538,4,503.363636
4,A00,PRODUCT34,201405,516.0,516.0,2014,275.961538,5,490.750000

In [ ]:
mergeResult.to_csv("./result5.csv")

In [ ]:
pwd

In [41]:
#groupby 를 한 상태에서 rolling 을 하겠다. 
groupKey= ["REGIONID","PRODUCT"]

In [42]:
mergeResult.groupby(groupKey)

### 그룹바이함수만들기 확인

In [ ]:
#펼치려는 로직이 다른 카테고리에 영향을 주어 제대로된 추세선을 못그림.

In [ ]:
#groupDataSet = mergeResult.groupby(groupKey)

In [48]:
mergeResult.to_csv("./mergeResult.csv")

In [44]:
def groupRolling(oneGroup):
    #len(list(groupDataSet.groups))
    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])
    
    indexGroupData = oneGroup.reset_index(drop=True)
    indexGroupData["MA2"] = indexGroupData["NEW_QTY"].rolling(window = 5,center=True).mean()
    
    return indexGroupData

In [45]:
finalResult = mergeResult.groupby(groupKey).apply(groupRolling)

In [46]:
finalResult.head()

                     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014
                   1      A00  PRODUCT34    201402  679.0    679.0  2014
                   2      A00  PRODUCT34    201403  578.0    578.0  2014
                   3      A00  PRODUCT34    201404  532.0    532.0  2014
                   4      A00  PRODUCT34    201405  516.0    516.0  2014

                           GROUP  WEEK          MA    MA2
REGIONID PRODUCT
A00      PRODUCT34 0  275.961538     1  520.000000    NaN
                   1  275.961538     2  514.444444    NaN
                   2  275.961538     3  516.800000  593.2
                   3  275.961538     4  503.363636  545.6
                   4  275.961538     5  490.750000  491.2

In [49]:
finalResult.to_csv("./finalResult.csv")

#### reset_index 안썼을때 차이점 -최근4주차 이동평균 구해서 붙히기

In [ ]:
def groupFunction(eachGroup):
    eachGroup["MA3"] = eachGroup["NEW_QTY"].rolling(window=5,center=True).mean()
    return eachGroup

In [ ]:
mergeResult.groupby(groupKey).apply(groupFunction)

## 함수 디버깅 (연습)

In [ ]:
# 롤링함수는 각지역별 함수별로 펼쳐야한다.

In [ ]:
#총 794개의 데이터가 있는데 
len(list(groupDataSet.groups))

In [ ]:
#그 중 그룹하나를 가지고 그룹화를 하겠다. 모든 그룹을 리스트로 만들고 그룹데이터의 0번째 데이터를 가져오겠다. 0번째 함수에 대해서만 롤링을 펼치겠다 .
oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])

In [ ]:
oneGroup.head()

In [ ]:
scdGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])

In [ ]:
step1Data["MA2"] = scdGroup.NEW_QTY.rolling(window = 15, center = True, min_periods= 1).mean()

In [ ]:
step1Data.head()

In [ ]:
#컬럼삭제 
#del step1Data["MA2"]

### 데이터합치기 기준

In [ ]:
#step1을 기준으로 regionid로

In [ ]:
step1Data.head()

In [ ]:
groupDataResult.head()

In [ ]:
leftData = step1Data

In [ ]:
#컬럼이 동일한 경우 left,right on을 따로 안써주어도 된다.
#컬럼명은 다르되 내용이 완전히 같으면 left, right에 컬럼명을 기재해준다. 
#how default값 = inner
#데이터를 합칠 때는 항상 한줄에 하나씩만 나오게 키를 설정해야한다. 같은 정보가 중복 되지 않도록. 

MGD = pd.merge(leftData,groupDataResult,how = "left",on="REGIONID")

In [ ]:
MGD.head(20)

In [ ]:
len(leftData)

In [ ]:
#중복되는 값도 붙기때문에 데이터양이 많아진다. 
len(MGD)

In [ ]:
joinKey = ["REGIONID","PRODUCT"]

In [ ]:
PRD = pd.merge(leftData,groupDataResult,how = "left",on= joinKey)

In [ ]:
len(PRD)

## concat 위아래로 데이터 붙히기

In [ ]:
#axis = 0 -> 위아래로 1은 옆으로

In [ ]:
fullData = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [ ]:
a01Data = fullData[fullData.REGIONID =="A01"]
len(a01Data)

In [ ]:
a20Data = fullData[fullData.REGIONID =="A20"]
len(a20Data)

In [ ]:
resultConcat = pd.concat([a01Data,a20Data],axis = 0)

In [ ]:
len(resultConcat)

### 최근 4주차 평균데이터  - 미완성

In [ ]:
def groupAve(four):
    four["MA5"] = four["NEW_QTY"].rolling(window=5,center=True,min_periods=1).mean()
    return four

In [ ]:
mergeResult2016 = mergeResult[mergeResult.YEAR == 2016]

In [ ]:
mergeResult2016

In [ ]:
groupKey = ["REGIONID","PRODUCT"]

In [ ]:
def groupAvg(oneGroup):
    #groupSet = mergeResult2016.groupby(groupKey)

    #oneGroup = groupSet.get_group(list(groupSet.groups)[0])

    average = 100
    oneGroup["week4avg"] = average
    return oneGroup

In [ ]:
four4=mergeResult2016.groupby(groupKey).apply(groupAvg)

In [ ]:
four4

In [ ]:
def abc(oneGroup):
    #groupSet = mergeResult2016.groupby(groupKey)

    #oneGroup = groupSet.get_group(list(groupSet.groups)[0])

    oneGroup["MA5"] = oneGroup["NEW_QTY"].rolling(window=5, center=True).mean()
    return oneGroup

In [ ]:
four4=mergeResult2016.groupby(groupKey).apply(abc)

In [ ]:
four4.head()

In [ ]:
len(list(four4.groups))
four1 = four4.get_group(list(four4.groups)[0])