### 1.  Datetime

In [2]:
import datetime

In [4]:
from datetime import datetime as dt2
dt2.now()

datetime.datetime(2019, 3, 14, 20, 20, 9, 762053)

In [6]:
currentDate = dt2.now()
dt2.now()

datetime.datetime(2019, 3, 14, 20, 20, 26, 650019)

### 2. 시간, 분 정보 불러오기

In [ ]:
#시간, 분 할당
hourVar = currentDate.hour
minutesVar = currentDate.minute
print(hourVar)
print(minutesVar)

### 3. 결과
import datetime
from datetime import datetime as dt3
dt3.now()
currentDate = dt3.now()

### 확인확인확인

In [12]:
Minute=currentDate.minute
print(Minute)

20

### 3. 문자열 ## 형변환 확인

In [22]:
a = 123
b="123"
c = int(b)
d = a+c
print(d)

246

In [23]:
#type확인
type(a)

int

### 4. 데이터 불러오기

In [24]:
import pandas as pd

In [30]:
power = pd.read_csv("../Python_ST_EX/dataset/kopo_region_mst.csv") #여기서 불러와서 power라는 변수에 넣음

In [31]:
power.head(5) #변수의 앞 5개만 출력

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA
2      A02      KOREA
3      A03     GERMAN
4      A04     BRAZIL

In [25]:
#현제저장된위치확인
pwd

'C:\\Users\\SMART-04\\Python_Fintech\\02. Data Type and Data Load'

### 5. 문자열의 합

In [32]:
head = "smart"

In [33]:
tail = "analytics"

In [35]:
fullString = head +" "+tail #" " 넣는이유 : head와 tail 값 사이에 공백 추가

print(fullString)

smart analytics

### 6. 문자열의 곱

In [36]:
print("*"*20+"문자열 연산 프로그램"+"*"*20) #*을20만큼 곱해서 출력해라

********************문자열 연산 프로그램********************

### 7.  문자열

In [38]:
yearweek = "201801"
firstYear = yearweek = [4] #yearweek의 4번째 글자를 출력해라
firstYear

[4]

In [43]:
yearweek = "201801"
yearweek[0:5] #yearweek 에서 5이전까지 출력하라. 5미포함

'20180'

In [44]:
yearweek = "201801"
yearweek[4:]#yearweek 뒤에서 4이후 숫자 출력(4포함)

'01'

In [45]:
###절대 수 입력 후 절대 수 뒷글자만 추출. 절대수는 대문자로 설정.
yearweek = "201801"
YEARLEN=3 #변수 
yearweek[PURPLE:]

'801'

In [47]:
#문자열개수세기
yearweek = "2017Q28"
print(yearweek.count('Q'))

1

In [49]:
#문자열 위치확인 index-순번
print(yearweek.index('Q'))
delimeter=yearweek.index('Q')

4

In [51]:
#특정문자 기준으로 나누기
yearweek = "2017Q28"
splitVar = yearweek.split("Q")
print(splitVar)

['2017', '28']

In [52]:
type(splitVar)

list

In [54]:
#upper, lower 대문자 소문자 변경
yearweek.lower()
yearweek.upper()

'2017Q28'

In [ ]:
#특정문자삭제
yearweek = "2018W01"
print(yearweek.index('W'))
delimeter=yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]# W를 기준으로 (4기준앞+뒤,바로뒤가 W니까 1을 더해서 출력)
print([yearweek_new])

In [60]:
#형변환 출력안되는 이유
numberValue = 123
StrValue = str(numberValue)
type(StrValue)

str

### 8. 실습1

In [ ]:
#“SEC 20180212 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요

In [64]:
LG = "SEC 20180212 250"
stock_name = LG[:3]
date = LG[4:12]
value = LG[13:]
print(stock_name)
print(date)
print(value)

SEC
20180212
250

In [66]:
LG = "SEC 20180212 250"
stock_name = LG[:3]
date = LG[4:12]
value = LG[(-3):] # 뒤에서부터 문자열 출력
print(stock_name)
print(date)
print(value)

SEC
20180212
250

### 9. 실습2

In [68]:
# 위 실습에서 모두 소문자로 변경
LG = "SEC 20180212 250"
SK = LG.lower()
print(SK)

sec 20180212 250

In [72]:
# W 삭제하기
LG = "SEC 2018W0212 250"
print(LG.index('W'))
KT=LG.index('W')
KT = LG[:KT]+LG[KT+1:]

print(KT)

8
SEC 20180212 250

### 내일할일

In [ ]:
# 김유림
samsung = "Sec 2018W28 250"
stock_name = samsung[:3]
date = samsung[4:12]
value = samsung[13:16]
print(stock_name,date,value)

samsung = str("Sec 2018W28 250")
delimeter=samsung.index('W')
samsung_new = samsung[:delimeter]+samsung[delimeter+1:]
print([samsung_new])
samsung_new.upper()

In [4]:
###인덱스로 끊을 수 있지만, LEN 로 저장해두면 훨씬 편함
samsung= "Sec 2018W86 250"
SAMSUNGLEN = 4
stock_name=samsung[:SAMSUNGLEN]
print(stock_name)

Sec

In [6]:
#교수님 (이렇게 하면 다음 개발자가 저 숫자가 뭔지 잘 모름) --확인해
test= "Sec 2018W86 250"
stockName = test [0:4]
date = test [4:4+8]
value = test [4+8+1:]
print(stockName)
print(date)
print(value)

Sec
2018W86
50

In [14]:
#그래서 이렇게 지정해주고
test= "Sec 2018W86 250"

stockLen = 4
dateLen = 12
volumeLen = 4
stockName = test[0:stockLen]  ##이렇게 숫자를 안쓰고 할 수 있도록 연습-----확인
yellow = test[stockLen:dateLen]
blue = test[dateLen:]
print(stockName)
print(yellow)
print(blue)

Sec
2018W86
250

In [19]:
# 대문자
test3 = "Sec 2018W28 250"
UpperTest = test3.upper()
print(UpperTest)
StdTest = UpperTest.replace("W","") # W 빼는법
StdTest

SEC 2018W28 250

'SEC 201828 250'

In [25]:
test3 = "Sec 2018W28 250"
UpperTest = test3.upper()
print(UpperTest)
StdTest = UpperTest.replace("W","") # W 빼는법
StdTest
splitDate = StdTest.split(" ") # " " 기준으로 문장 나누기
splitDate

SEC 2018W28 250

['SEC', '201828', '250']

### 11. 실습3

In [ ]:
# 값에서 최소 최대값을 뺀 평균을 average의 변수에 담아라

In [33]:
# 최소 최대값구하기 / 김유림
purple = [120,150,300,500,1000,100,2000]
purple1 = (min(purple))
purple2 = (max(purple))
purple.remove(purple1)
purple.remove(purple2)
print(purple)
end = (sum(purple)/5)
print(end)

[120, 150, 300, 500, 1000]
414.0

In [ ]:
#틀린거. 리무브 이용 인덱스 사용한 del 이 더 좋음
purple = [120,150,300,500,1000,100,2000]
purple1 = (min(purple))
purple2 = (max(purple))
del purple[purple1]
print(purple)

In [65]:
#교수님 Test -> 이렇게하면 안에 값이 바뀌게되면 오류가 나게 됨.
test = [120,150,300,500,1000,100,2000]
test.remove(100)
test.remove(2000)
average = sum(test)/len(test)
print(average)

414.0

In [67]:
#그래서 이렇게 해야돼(1)
test = [120,150,300,500,1000,100,2000]
minVal = min(test)
maxVal = max(test)
print(test)
test.remove(minVal)
test.remove(maxVal)
average = sum(test)/len(test)
print(average)

[120, 150, 300, 500, 1000, 100, 2000]
414.0

In [ ]:
# 인덱스 이용한 정답

In [72]:
test = [120,150,300,500,1000,100,2000]
minValindex = test.index(min(test))
print(minValindex)

del test[minValindex]
test

5

[120, 150, 300, 500, 1000, 2000]

In [74]:
#또다른 답 --한번 더 보기

testi = [120,150,300,500,1000,100,2000]
testi.sort()
del testi[0]
del testi[len(testi)-1]
testi

[120, 150, 300, 500, 1000]

In [75]:
###또다른 답 --- 한번 더 보기
testy = [120,150,300,500,1000,100,2000]
testy.sort()
del testy[len(testy)-len(testy)]
del testy[len(testy)-1]
testy

[120, 150, 300, 500, 1000]

### 12. 딕셔너리

In [ ]:
###딕셔너리(key:value, 반복 근데 이거말고도 쓸 수 있어서 중요도 낮음)

d=  dict(name="sec",value="3000000",address="suwon")
d

###예측할때 계절성 지수를 다뽑아 2017년몇주차에얼마나 팔렸다는 데이터를 키를 입력해서 value 를 찾을 수 있다
dict2 = {"201701":"0.2","201702":"0.5","201703":"0.7"}
dict2

dict2["201702"]

type(dict2)

### Quiz 1. 실행 시간을 구하라

In [60]:
import timeit
start = timeit.default_timer()
import pandas as pd
qtList = pd.read_csv\
("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()
qt1 = (min(qtList))
qt2 = (max(qtList))
qtList.remove(qt1)
qtList.remove(qt2)

end = sum(qtList)/len(qtList)
print(end)
stop = timeit.default_timer()
print('Time: ', stop - start)

8936.090755278527
Time:  0.0967154879321015

### Quiz 2. 리스트에서 최소 최대값을 뺀 평균을 구하라

In [59]:
import pandas as pd
qtList = pd.read_csv\
("../Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()
qt1 = (min(qtList))
qt2 = (max(qtList))
qtList.remove(qt1)
qtList.remove(qt2)

end = sum(qtList)/len(qtList)
print(end)

8936.090755278527