### 01.데이터 조작(복습)

In [5]:
#데이터 불러오기
import pandas as pd
customerData = pd.read_csv("../Python_Fintech/Python_ST_EX/dataset/customerdata.csv")
customerData.head(5)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [9]:
#데이터 조작
#무의자할부를 세번 이상, 물건을 산 횟수가 다섯번보다 많을 때. 두조건을 만족할 때 && 사용, 둘 중 하나 만 만족 할 때 OR조건사용

customerData[(customerData.EMI >= 3) &&
             (customerData.DEVICECOUNT >= 5)]

SyntaxError: invalid syntax (<ipython-input-9-076170e1ebda>, line 3)

In [10]:
#데이터 타입확인
customerData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object