In [32]:
## url가져오기
url = requests.get('http://www.kopo.ac.kr/kangseo/content.do?menu=262')

url.encoding='utf-8'
html = url.text
bs = bs4.BeautifulSoup(html,'html.parser') 

# 컬럼담기
columns=bs.select('thead > tr > th')
columns

[<th scope="col">구분</th>,
 <th scope="col">조식</th>,
 <th scope="col">중식</th>,
 <th scope="col">석식</th>]

In [4]:
columnlist=[]
for column in columns:
    columnlist.append(column.text) #구분,조중석식 컬럼으로 만들었어

In [54]:
#tr까지가면 첫번째 밖에 안가져온다
contents=bs.select('tbody') #식단내용

In [55]:
contents

[<tbody>
 <tr>
 <td><script>document.write(getDay2('2019-04-29 00:00:00.0'));</script><br/>월요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-04-30 00:00:00.0'));</script><br/>화요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-05-01 00:00:00.0'));</script><br/>수요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-05-02 00:00:00.0'));</script><br/>목요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-05-03 00:00:00.0'));</script><br/>금요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-05-04 00:00:00.0'));</script><br/>토요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 <tr>
 <td><script>document.write(getDay2('2019-05-05 00:00:00.0'));</script><br/>일요일</td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 <td>
 <span class="kcal"></span>
 <span></span>
 </td>
 </tr>
 </tbody>]

In [86]:
tdlist=[]
alltd=[]
for content in contents: #식단내용만큼 돌거야
    tds=content.findAll("td")

In [87]:
type(tds)

bs4.element.ResultSet

In [88]:
for td in tds:
    if(td.text=="None"):
        continue;
    tdlist.append(tds.text) #일요일이라 내용이 없는거 같아 
alltd.append(tdlist.text)

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [77]:
df=pd.DataFrame(columns=columnlist, data=alltd)

AssertionError: 4 columns passed, passed data had 2 columns